a {
  padding: 10px;
  border-style: solid;
  border-color:yellow;
}
a:hover{
  border-color:coral;
}
body>header {margin-top:60px;}
section header h1{
   text-shadow: 3px 3px 2px #696;
   color: #666;
   background-color:powderblue;
   font-family: "Times New Roman", Times, serif; 
}

section article p{
  padding: 2em 1em;
  margin-bottom: 2em;
  background-color: #e9ecef;
  border-radius: 1em;
}